---
---

@import "minima";

$panel-radius: 3px;

/*
  I dislike the default header sizes.
*/

h1 {
    @include relative-font-size(2.1);

    @include media-query($on-laptop) {
        @include relative-font-size(1.9);
    }
}

h2 {
    @include relative-font-size(1.5);

    @include media-query($on-laptop) {
        @include relative-font-size(1.3125);
    }
}

h3 {
    @include relative-font-size(1.17);

    @include media-query($on-laptop) {
        @include relative-font-size(1.0725);
    }
}

h4 {
    @include relative-font-size(1);

    @include media-query($on-laptop) {
      @include relative-font-size(1);
    }
}

/* Start of panel classes for end-use */

.altcontext {
    border-radius: $panel-radius;
    padding-top: ($spacing-unit / 2);
    /*
      Minima's Markdown already comes with
      ($spacing-unit / 2) padding-bottom
      for 'visual rhythm'.
    */
    padding-bottom: 0;
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;

    border-style: dashed none dashed none;

    border-width: 2px;
    margin: ($spacing-unit / 2) 0%;
}

.panel-info {
    @extend .panel-full;
    h1, h2, h3, h4 {
        color: darken(lightblue, 30%);
    }
    border: solid 2px lightblue;
}

.panel-warning {
    @extend .panel-full;
    h1, h2, h3, h4 {
        color: orange;
    }
    border: solid 3px orange;
}

.panel-danger {
    @extend .panel-full;
    h1, h2, h3, h4 {
        color: red;
    }
    border: solid 5px red;
}

.panel-info-half {
    @extend .panel-half;
    h1, h2, h3, h4 {
        color: darken(lightblue, 30%);
    }
    border: solid 2px lightblue;
}

.panel-warning-half {
    @extend .panel-half;
        h1, h2, h3, h4 {
        color: orange;
    }
    border: solid 3px orange;
}

.panel-danger-half {
    @extend .panel-half;
    h1, h2, h3, h4 {
        color: red;
    }
    border: solid 5px red;
}

/*
   End of panel classes for end-use
   The rest are impl. details.
*/

.panel {
    opacity: 75%;
    border-radius: $panel-radius;
    padding-top: ($spacing-unit / 2);
    /*
      Minima's Markdown already comes with
      ($spacing-unit / 2) padding-bottom
      for 'visual rhythm'.
    */
    padding-bottom: 0;
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;
}

.panel-full {
    @extend .panel;
    margin: ($spacing-unit / 2) 0%;
}

.panel-half {
    @extend .panel;
    float: right;
    width: 40%;
    margin: ($spacing-unit / 2) ($spacing-unit / 2);
    margin-right: 0;

    @include media-query($on-palm) {
        width: auto;
        float: none;
        margin: ($spacing-unit / 2) 0%;
    }
}
